// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

/dts-v1/;

#include "imx93-icore-starterkit.dts"
#include <dt-bindings/net/mxl-8611x.h>

/ {
	model = "NXP i.MX93 iCore Rev.B - Starterkit";
};

/*MaxLinear 8611*/
/delete-node/ &ethphy1;
&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	snps,reset-gpio = <&gpio1 12 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms */
	snps,reset-delays-us = <0 20000 100000>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			mxl-8611x,led0_cfg = <(
				MXL8611X_LEDX_CFG_LINK_UP_RX_ACT_ON |
				MXL8611X_LEDX_CFG_LINK_UP_TX_ACT_ON |
				MXL8611X_LEDX_CFG_TRAFFIC_ACT_BLINK_IND
			)>;
			mxl-8611x,led1_cfg = <(
				MXL8611X_LEDX_CFG_LINK_UP_10MB_ON |
				MXL8611X_LEDX_CFG_LINK_UP_100MB_ON |
				MXL8611X_LEDX_CFG_LINK_UP_1GB_ON
			)>;
		};
	};
};

/*MaxLinear 8611*/
/delete-node/ &ethphy2;
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy2>;
	snps,reset-gpio = <&gpio3 7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms */
	snps,reset-delays-us = <0 20000 100000>;	
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy2: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			mxl-8611x,led0_cfg = <(
				MXL8611X_LEDX_CFG_LINK_UP_RX_ACT_ON |
				MXL8611X_LEDX_CFG_LINK_UP_TX_ACT_ON |
				MXL8611X_LEDX_CFG_TRAFFIC_ACT_BLINK_IND
			)>;
			mxl-8611x,led1_cfg = <(
				MXL8611X_LEDX_CFG_LINK_UP_10MB_ON |
				MXL8611X_LEDX_CFG_LINK_UP_100MB_ON |
				MXL8611X_LEDX_CFG_LINK_UP_1GB_ON
			)>;
		};
	};
};

&iomuxc {

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC                        0x1e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO                      0x1e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0                  0x1e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1                  0x1e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2                  0x1e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3                  0x1e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK  0x1e
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL            0x1e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0                  0x1e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1                  0x1e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2                  0x1e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3                  0x1e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK  0x1e
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL            0x1e
			MX93_PAD_SAI1_TXC__GPIO1_IO12							0x1e
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC                   0x1e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO                 0x1e
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0             0x1e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1             0x1e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2             0x1e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3             0x1e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC             0x1e
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL       0x1e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0             0x1e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1             0x1e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2             0x1e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3             0x1e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC             0x1e
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL       0x1e
			MX93_PAD_SD2_RESET_B__GPIO3_IO07       			0x1e
		>;
	};
};
